name = "example-file"

[config]
lang = ja

[secrets]
database_endpoint = {{ env.DB_ENDPOINT }}
database_user = {{ env.DB_USER }}
database_password = {{ env.DB_PASSWORD }}
database_name = {{ env.DB_NAME }}
